<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<properties/><!--属性-->
<settings><!--设置-->
    <setting name="" value=""/>
</settings>
<typeAliases></typeAliases><!--别名-->
<typeHandlers></typeHandlers><!--类型处理器-->
<!--<objectFactory></objectFactory>--><!--类型工厂-->
<plugins>
    <plugin interceptor=""></plugin>
</plugins>
<environments default="">
    <environment id="">
        <transactionManager type=""></transactionManager>
        <dataSource type=""></dataSource>
    </environment>
</environments>
<!--<databaseIdProvider></databaseIdProvider>
<mapper></mapper>-->
</configuration>